-- User 테이블
CREATE TABLE IF NOT EXISTS \
User\ (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE CHECK (email ~* '^[A-Z0-9._%+-]+@company\\.com$'),
    role TEXT NOT NULL CHECK (role IN ('member', 'manager')) DEFAULT 'member',
    rotation_order INT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Event 테이블
CREATE TABLE IF NOT EXISTS \Event\ (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    title TEXT NOT NULL,
    description TEXT,
    start_at TIMESTAMPTZ NOT NULL,
    end_at TIMESTAMPTZ NOT NULL,
    created_by UUID NOT NULL REFERENCES \User\(id),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    is_locked BOOLEAN NOT NULL DEFAULT false,
    CONSTRAINT chk_event_time CHECK (end_at > start_at)
);

-- Holiday 테이블
CREATE TABLE IF NOT EXISTS \Holiday\ (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL UNIQUE,
    name TEXT NOT NULL,
    source TEXT DEFAULT 'NAVER',
    imported_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- OnCallShift 테이블
CREATE TABLE IF NOT EXISTS \OnCallShift\ (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    shift_date DATE NOT NULL UNIQUE,
    user_id UUID NOT NULL REFERENCES \User\(id),
    generated_by UUID REFERENCES \User\(id),
    status TEXT NOT NULL CHECK (status IN ('scheduled', 'swapped', 'cancelled')) DEFAULT 'scheduled',
    created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- PdfExportLog 테이블
CREATE TABLE IF NOT EXISTS \PdfExportLog\ (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    month DATE NOT NULL,
    generated_by UUID NOT NULL REFERENCES \User\(id),
    url TEXT NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

